body{
    font-family: "Trirong", serif;
}
.navbar{
    border: solid black 2px;
    display: flex;
    flex-direction: row;
    background-color: rgb(227, 255, 248);
    align-items: center;
    text-align: justify;
    justify-content: center;
}

.nav-item{
    background-color: #012f2f;  
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: medium;
    text-align: center;
    flex: 1;                  
    margin: 10px;
}

.contact{
    background-color: #012f2f;
    color: white;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
    border: solid black 2px;
    text-align: center;

}