body{
    font-family: "Trirong", serif;
}
.navbar{
    border: solid black 2px;
    display: flex;
    flex-direction: row;
    background-color: rgb(227, 255, 248);
    align-items: center;
    text-align: justify;
    justify-content: center;
}


.nav-item{
    background-color: #012f2f;  
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    /* font-size: smaller; */
    text-align: center;
    flex: 1;                  
    margin: 10px;
}
.Home{
    height: 9cm;
    margin-left: 1px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 0.5cm;
    display: grid;
    color: white;
    grid-template-columns: 0.5fr 2fr; 
    background-color:#012f2f;
    
}
.profile{
    align-items: center;
    height: 8.5cm;
    width: 200px;

}
.footer{
    border: solid black 2px;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: rgb(227, 255, 248);;
}